* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /* border: 1px yellow solid; */
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0.4vw; 
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white; 
    opacity: 0.6;
    border-radius: 12px; 
    transition: background 0.3s; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::-webkit-scrollbar-thumb:active {
    background: #424242; 
}

body {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    min-height: 100vh;
    min-height: 100svh;
    overflow-x: hidden;
}

header {
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    font-size: 1.3rem;
    padding-top: 1rem;
    height: 10vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    text-shadow: 1px 1px black;

}

.parallax {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    height: 150vh;
    overflow: hidden;
}

.parallax img {
    position: absolute;
    height: 100vh;
    pointer-events: none;
}

.earth_container {
    top: -10%;
    -webkit-mask: linear-gradient(red, transparent 40%);
    mask: linear-gradient(red, transparent 40%);
}

#earth {
    transform: scale(2);
    animation: rotate-e 1500s infinite linear;
    z-index: 4;
    object-fit: cover;
    object-position: center;
    align-self: 1/1;
}

@keyframes rotate-e {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#moon {
    bottom: 50%;
    transform: scale(0.6);
    left: 50%;
    z-index: 1;
    margin-right: 0px;
}

#astro {
    transform: scale(0.3);
    bottom: 30%;
    right: 40%;
    height: auto;
    width: auto;
    animation: movefx 10s infinite linear;
    z-index: 2;
}

@keyframes movefx {
    0% {
        transform: translate(0px, 0px) scale(0.3);
    }

    25% {
        transform: translate(10px, 30px) scale(0.3);
    }

    50% {
        transform: translate(-5px, -10px) scale(0.3);
    }

    75% {
        transform: translate(-10px, 20px) scale(0.3);
    }

    100% {
        transform: translate(0px, 0px) scale(0.3);
    }

}

#thespace {
    font-size: 15rem;
    z-index: 3;
    transform: translateY(200px);
}

#bg-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    object-fit: cover;
}

/* assets */

.title {
    font-size: 5rem
}

.vertical_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.border_circle {
    border-radius: 50%;
}

/* content styles */

.page {
    height: 100vh;
    position: relative;
    margin: 2rem 8rem;
}

.greeting {
    display: flex;
    align-content: center;
    position: relative;
    overflow: hidden;
}

.greet_content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome {
    font-size: 3rem;
    font-style: italic;
}

.user_name {
    font-size: 10rem;
}

.greeting img {
    position: absolute;
    top: 0;
    transform: scale(0.4);
    left: -100%;
}

/* facts */
.fact_pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.fact {
    width: 100%;
    display: flex;
}

.fact_count {
    width: 100%;
    font-size: 3rem;
}

.fact_text {
    width: 60%;
    font-size: 2rem;
}

.fact_img{
    -webkit-mask: linear-gradient(red, transparent);
    mask: linear-gradient(red, transparent);
    width: 40%;
}

.fact_img img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    width: 100%;
}

.rotate_planets {
    animation: rotate-f 300s infinite linear ;
}

@keyframes rotate-f {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* riddle */

.intro_riddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
}

.intro_riddle p , .word_riddle {
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.intro_riddle_astro {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.intro_riddle_astro img {
    height: 100%;
}

/* game */

.game-container {
    margin: 2rem 5rem;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.riddle_header {
    font-size: 10rem;
}

.riddle {
    font-size: 2rem;
}

input {
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 3px 2px rgb(79, 79, 79);
    padding: 1rem;
}

button:hover {
    background-color: #d2d2d2;
}

button:active {
    margin-bottom: 3px;
    margin-right: 2px;
    box-shadow: none;
}

.feedback {
    margin-top: 10px;
    font-weight: bold;
}

.score {
    margin-top: 20px;
}

/* footer */

footer {
    background-color: black;
    text-align: center;
    padding: 3rem;
    border-top: 1px white solid;
    border-bottom: 100px white solid;
}

.easter_egg {
    background-color: white;
    color:black;
    position: relative;
    height: 200vh;
    padding: 2rem;
}

.easter_egg h1 {
    opacity: 0.7;
}

.blank {
    height: 60%;
}

.easter_mssg h1 {
    font-family: monospace;
    font-size: 1rem;
    padding-bottom: 2rem;
    opacity: 1;
}

/* secret link */

.secret {
    position: relative;
}

.easter-egg {
    padding: 20px;
    background-color: bisque;
    border-radius: 10px;
    text-align: center;
    display: block; /* Hidden initially */
}
.link {
    color: blue;
    text-decoration: underline;
}
